/* Error: 100% and 20px have incompatible units.
 *    ,
 * 93 |     width: 100% - 20px; // 100% menos 20px
 *    |            ^^^^^^^^^^^
 *    '
 *   scss\style.scss 93:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 100% and 20px have incompatible units.\a    \2577 \a 93 \2502      width: 100% - 20px; // 100% menos 20px\d\a    \2502             ^^^^^^^^^^^\a    \2575 \a   scss\\style.scss 93:12  root stylesheet";
}
